*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
}


.header{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
}

.header-title{
  font-weight: 400;
  font-size: 1.6rem;
  justify-self: left;
}

.header-searchbar{
  width: 45%;
  align-self: center;
}

.highlights{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.highlights-left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.highlights-left__location{
  color: #FF006B;
  font-size: 2.5rem;
  font-weight: 600;
}

.highlights-left__temp{
  color: #FFC801;
  font-weight: 600;
  font-size: 5rem;
}
.inline{
  display: flex;
  align-items: baseline;
}

